<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>투표 알림</title>
  <link rel="stylesheet" th:href="@{/css/meeting/modal/modal.css}"/>
</head>
<body>
<div class="modal-header">
  <h1>투표 알림</h1>
</div>
<div class="modal">
  <div class="empty-alarm" th:if="${#lists.isEmpty(votedList)}">
    현재 투표중인 것이 없습니다.
  </div>
  <ul class="notification-list">
    <li th:each="vote:${votedList}" class="notification-item">
      <div class="message">
        <div>
          <div style="margin-bottom: 1vh;"><strong
                  th:text="${vote.getVote().meeting.title}"></strong> 모임에 투표가 열렸습니다.
          </div>
          <div>투표 명: <span th:text="${vote.getVote().title}"></span></div>
        </div>
      </div>
      <button class="button vote" th:attr="voteId=${vote.getVote().id}">투표하기</button>
    </li>
  </ul>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const voteButtons = document.querySelectorAll(".button.vote");
    voteButtons.forEach((button) => {
      button.addEventListener("click", () => {
        const confirmed = confirm("투표 페이지로 이동하시겠습니까?");

        const voteId = button.getAttribute("voteId");
        if (confirmed) {
          if (window.opener && !window.opener.closed) {
            window.opener.location.href = `/meetings/vote/${voteId}`;
          }
          window.close();
        }
      });
    });
  });
</script>
</body>
</html>