<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>식당 검색</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<main layout:fragment="content">

  <p class="main-title">🍽️ 식당 검색</p>

  <form method="get" action="/search/result" class="search">
    <input type="text" name="restaurantKeyword" placeholder="식당명 입력">
    <button type="submit">검색</button>
  </form>
</main>
</body>
</html>