<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>식당 검색</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<main layout:fragment="content">

  <!-- 로그인한 사용자 정보 확인용 -->
  <div sec:authorize="isAuthenticated()">
    <span class="text-sm font-semibold">
      <span th:text="${#authentication.principal.user.nickname}">닉네임</span> 님 환영합니다!
    </span>
  </div>

  <p class="main-title">🍽️ 식당 검색</p>

  <form method="get" action="/search/result" class="search">
    <input type="text" name="restaurantKeyword" placeholder="식당명 입력">
    <button type="submit">검색</button>
  </form>
</main>
</body>
</html>