main{
  width: 100%;
  padding: 5vw 17vw;
}
a {
  color: black;
}

.detail-wrapper{
  background-color: #FAFAFA;
  border-radius: 8px;
  padding: 20px 25px;
  margin-top: 1vh;
}

.restaurant-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5vh;
}
.restaurant-move{
  padding: 8px 16px;
  background-color: #e0e0e0;
  border: 1px solid #333;
  border-radius: 8px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.result-wrapper{
  width: 100%;
  margin-top: 6vh;
}

.attendance-wrapper{
  display: flex;
  flex:1;
  gap:2vw;
  margin-top: 1vh;
}

.scroll-container {
  height: 30vh;
  overflow-y: auto;
  margin-top: 10px;
}

.result-card{
  flex: 1;
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 15px 20px;
  align-items: start;
}

.member{
  width: 100%;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 5px;
}